<div>
  <%= form_tag map_path, method: :get do %>
    <%= text_field_tag :location, # field name (params key)
      params[:location], # value
        class: "form-control",
        placeholder: "Location"
    %>
    <%= select_tag :languages, options_for_select(%w[Ruby JS Python]), multiple: true %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<div class="container">
  <div class="row">
    <div class="col-6">
    <ul>
      <% @tutor_profiles.each do |profile|%>
      <li><%= link_to profile.user.name, tutor_profile_path(profile)%></li>
        
      <% end %>
    </ul>
    </div>
  </div>
</div>  
<div  id="map"
  data-center="<%= @center %>"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
