
<div class= "map_search">
  <%= render "components/language_search" %>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-8">
      <div class="cards">
        <% @tutor_profiles.each do |profile| %>
          <div class="profile-card">
            <div class="profile-card-image" style="background-image: url('<%= profile.user.picture %>')"></div>
            <div class="profile-card-content">
              <div class="profile-card-title">
                <h4><%= profile.user.name %></h4>
              </div>
              <p><%= profile.bio %></p>
            </div>
            <div class="profile-card-actions">
              <%= link_to 'View my profile & Book me', tutor_profile_path(profile) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-4">
      <div  id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>





