<div>
  <%= form_tag map_path, method: :get do %>
    <%= text_field_tag :location, # field name (params key)
      params[:location], # value
        class: "form-control",
        placeholder: "Location"
    %>
    <%= select_tag :languages, options_for_select(%w[Ruby JS Python]), multiple: true %>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>
<div  id="map"
  style=""
  data-center="<%= @center %>"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div>
  <% @tutor_profiles.each do |profile|%>
<%= profile.user.name %>
<% end %>

</div>
