<div class="container">
  <div class="row">
    <!-- Avatar -->
    <div class="col-12 col-md-4 text-center">
      <%= image_tag @tutor_profile.user.picture, class: "img-fluid shadow-lg mb-3" %>

      <!-- Message -->
      <% if user_signed_in? && current_user != @tutor_profile.user %>
        <%= link_to "Message Me", conversations_path(sender_id: current_user.id, recipient_id: @tutor_profile.user.id), method: 'post', class: "btn btn-outline-primary"%>
      <% elsif user_signed_in? && current_user == @tutor_profile.user  %>
        <%= link_to "Conversations", conversations_path %>
      <% else %>
        <%= link_to "Sign up to message #{@tutor_profile.user.name}", new_user_registration_path %>
      <% end %>

    </div>

    <div class="col-12 col-md-8">
      <div class="name mb-4">
        <h1 class="mb-0"><strong><%= @tutor_profile.user.name %></strong></h1>
        <p class="h6 mb-5 mt-5">"<%=  @tutor_profile.bio %>"</p>
        <%= render "tutor_profiles/endorsements", tutor_profile: @tutor_profile %>
      </div>
      <%= render "tutorings/form", tutor_profile: @tutor_profile, tutoring: @tutoring %>
      <%= render "tutor_profiles/details" %>
    </div>
  </div>
</div>
