<img id="pr" src="https://images.unsplash.com/photo-1507608158173-1dcec673a2e5?ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80">
<div class="container mt-10">
  <div class="white-wrapper p-5">
    <div class="row">
      <div class="col-8">
        <div class="row">
          <div class="col-3">
            <img src="<%=  @tutor_profile.user.picture%>" style="width: 130px">
          </div>
          <div class="col-9">
            <h1><strong><%= @tutor_profile.user.name %></strong></h1>
            <p><%= @tutor_profile.user.email %></p>
          </div>
        </div>
      </div>
      <div class="col-4">
        <p><%=  @tutor_profile.bio %></p>
      </div>
    </div>
  </div>
</div>



<%# <div class="green-wrapper p-5">
</div> %>
<%=  %>