<div class="container">
  <div class="info">
    <div class="row">
      <div class="col-12 col-md-4 text-center">
        <img src="<%=  @tutor_profile.user.picture%>" style="width: 130px" class="img-fluid rounded-circle shadow-lg" style="width: 180px;">
      </div>
      <div class="col-12 col-md-8 d-flex flex-column align-items-center align-items-lg-start">
        <div class="d-flex flex-row align-items-start mt-3 mt-lg-0">
          <div class="name">
            <h1><strong><%= @tutor_profile.user.name %></strong></h1>
          </div>
          <a href="#a" class="btn btn-primary btn-pill btn-sm ml-3 mt-1">Follow</a>
        </div>
        <div class="stats d-flex flex-row align-items-center align-items-lg-start text-center text-lg-left">

          <div class="posts"><p class="lead"><b>100</b> lifetime tutees </p></div>
          <div class="posts"><p class="lead"><b>7</b> lifetime tutors </p></div>
        </div>
        <p><%=  @tutor_profile.bio %></p>
      </div>
    </div>
  </div>

<!-- Messages -->
  <% if user_signed_in? && current_user.id != @tutor_profile.user_id %>
      <%= link_to "Message #{@tutor_profile.user.name}", conversations_path(sender_id: current_user.id, recipient_id: @tutor_profile.user.id), method: 'post', class:"button is-link" %>
    <% elsif user_signed_in? && current_user.id == @tutor_profile.user_id  %>
      <%= link_to "Conversations", conversations_path %>
    <% else %>

    <%= link_to "Sign up to message #{@tutor_profile.user.name}", new_user_registration_path %>
    <% end %>
    <!--  -->

  <div class="navigation d-flex justify-content-center">
    <ul class="nav nav-primary nav-tabs mt-3 d-flex flex-column flex-md-row">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#photos">
          <i class="fas fa-th"></i> Languages
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#saved">
          <i class="far fa-bookmark"></i> Projects
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tagged">
          <i class="far fa-id-badge"></i> Friends
        </a>
      </li>
    </ul>
  </div>
<div class="profile-tabs tab-content">
    <div class="tab-pane fade show active" id="photos">
        <div class="row">
          <div class="col-12 col-md-4">
            <i class="fab fa-python fa-2x"></i>
            <i class="fab fa-js fa-2x"></i>
            <i class="fab fa-java fa-2x"></i>
            <i class="fab fa-swift fa-2x"></i>
          </div>

        </div>

    <div class="tab-pane fade text-center" id="saved">

      <p class="lead"><span class="text-danger"><i class="far fa-frown-open"></i></span> Nothing saved yet.</p>
    </div>
    <div class="tab-pane fade text-center" id="tagged">
      <p class="lead">Help people tag you.</p>
      <a href="#a" class="btn btn-info btn-pill">Find Friends</a>
    </div>
    <div>
       <h2> Make it official!</h2>
      <h1>Schedule a time and place to meet: </h1>
      <%= simple_form_for [@tutor_profile, @tutoring] do |f| %>
        <%= f.input :start_at, :as => :datetime, html5: true%>
         <%= f.input :end_at, :as => :datetime, html5: true%>
        <%= f.submit "book session", class: "btn btn-primary" %>
      <% end %>
     </div>
  </div>

</div>

<div>

