<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- COMMON TAGS -->
    <meta charset="utf-8">
    <title>Nomadic Coder</title>
    <!-- Search Engine -->
    <meta name="description" content="Connecting coders and tutors around the world">
    <meta name="image" content="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80">
    <!-- Schema.org for Google -->
    <meta itemprop="name" content="Nomadic Coder">
    <meta itemprop="description" content="Connecting coders and tutors around the world">
    <meta itemprop="image" content="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80">
    <!-- Open Graph general (Facebook, Pinterest & Google+) -->
    <meta name="og:title" content="Nomadic Coder">
    <meta name="og:description" content="Connecting coders and tutors around the world">
    <meta name="og:image" content="https://images.unsplash.com/photo-1516321497487-e288fb19713f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3300&q=80">
    <meta name="og:url" content="nomadicoder.xyz">
    <meta name="og:site_name" content="Nomadicoder">
    <meta name="og:type" content="website">
    <title>Nomadic Coder</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body class="main-content">
    <div class="flex-grow-1">
      <%= render 'components/navbar' %>
      <%= render 'components/flashes' %>
      <%= yield %>
    </div>
    <%= render 'components/footer' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>

  </body>
</html>
